*{
    font-family: 'Poppins', sans-serif;
}
#firstSection{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,102,255,1) 50%, rgba(2,0,36,1) 100%);
}

/* card sectios */

.wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
  }
  
  .carousel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  
  .wrapper .slick-dots li button:before {
    color:white;
  }